.hero-section{
    background-image: url(Images/black-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    min-height: 100svh;
}
span{
    font-weight: 700;
}
.text-danger {
  color: #e63946 !important;
}
.icons{
    color: #e63946;
    font-size: xx-large;
}
#about p {
  line-height: 1.7;
}

#about h4 {
  margin-bottom: 10px;
}
footer a:hover {
  color: #dc3545;
  transition: 0.3s;
}




/*h1{
    color: rgb(255, 255, 255);
    font-size: 3.7rem;
    margin-bottom: 35px;
    text-align: center;
    justify-content: center;
    margin-top: 150px;
    /* font-weight: 500;
    margin: 30px 180px; */
/* } */
/* h2{
    margin-left: 250px;
    font-size: 2rem
} */ 
