*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
}
.wrap{
    width: 80vmin;
    /* max-width: 80%; */
    background-color: black;
    padding: 50px 40px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius: 5px;
    /* box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.3); */
}
/* .box{
    height: 200px;
    border: 2px solid black;

    display: flex;
    justify-content: center; 
    align-items: center;     
}

span{
    font-size: 100px;
} */

span{
    
    align-items: center;
    justify-content: center;
    font-size: 100px;
    display: flex;
    height: 200px;
}
p{
    font-size: 20px;
    color: white;
    text-align: center;
    justify-content: center;
    line-height: 30px;

}
button{
    /* text-align: center;
    justify-content: center; */
    /* margin: 10px;
    margin-left: 38%; */
    display: block;
    background-color: blueviolet;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    /* margin: 10px; */
    padding: 12px 17px;
    margin: 17px auto;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;


}