*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    color: white;
    background: linear-gradient(160deg, rgb(73, 132, 241), rgb(0, 247, 255)
    );
    padding: 4%;
    /* padding-left: 10%; */
    overflow-y: auto;
}
.container h1{
    display: flex;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
}
.container h1 i{
    margin-right: 25px;
    font-size: 70px;
}
.container button i{
    margin-right: 15px;
    /* width: 50px; */
}
.container button {
    display:flex;
    text-align: center;
    color: white;
    background-color: rgb(73, 132, 241);
    margin: 25px 0px;
    padding: 7px;
    border-radius: 15px;
    font-size: 17px;
    border-color: white;
    outline: 0;
    cursor: pointer;
}
/* .note{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    margin: 20px 0px;
}
.input-box{
    
    background-color: whitesmoke;
    color: black;
    padding: 20px;
    min-height: 150px;
    padding-bottom: 40px;
    border-radius: 20px;
    outline: none;

}
.input-box i{
    position: absolute;
    /* width: 25px; */
    /* right: 15px;
    bottom: 15px;
    cursor: pointer;
} */

.note{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    margin: 20px 0;
}

.input-box{
    background: whitesmoke;
    min-height: 150px;
    padding: 20px;
    border-radius: 20px;
    outline: none;
    color: black;
}

.note i{
    position: absolute;
    right: 15px;
    color: black;
    bottom: 15px;
    cursor: pointer;
}
button{
    caret-color: transparent;
}
@media (max-width: 600px){

    .container h1{
        font-size: 35px;
    }

    .input-box{
        max-width: 100%;
    }

    .container button{
        font-size: 14px;
        padding: 6px 10px;
    }

}