* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
}
:root {
    --bg-color: #fff;
    --text-color: #000;
    --snd-bg-color: #f5e2f0;
    --main-color: rgb(242, 81, 159);

}
html {
    font-size: 60%;
    overflow-x: hidden;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/*header section*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background-color: var(--main-color);
    backdrop-filter: blur(10px);
    transition: all 0.5 ease;
}
 .logo {
    color: var(--bg-color);
    font-size: 4rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;

}
.logo:hover {
    transform: scale(1.3);
}
.menu-icon{
    display: none;
}
.navbar a {
    font-size: 2rem;
    color: var(--bg-color);
    margin-left: 4rem;
    font-weight: 700;
    transition: 0.3s ease ;
}
.navbar a:hover,
.navbar  a:active {
    color: var(--text-color);
    text-decoration: underline;


}
#menu-icon {
    font-size: 3.5rem;
    color: var(--bg-color);
    cursor: pointer;
} 
/*home section--*/
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    border: 2px solid var(--main-color);
    transition: 0.4s ease;
    animation: floatImage 4s ease-in-out infinite;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 35px var(--main-color),
                0 0 45px var(--main-color);
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}
.home-content {
    margin-left: 5rem;
}
.home-content h3 {
    font-size: 3.7rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}
span {
    color: var(--main-color);
}
.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;

}
.home-content p {
    font-size: 20px;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border: thick double rgb(242, 81, 159);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;

}
.social-media a:hover{
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 30px var(--main-color);

}
.button {
    display: inline-block;
    padding: 1rem 2.5rem;
    background-color: var(--main-color);
    border-radius: 4rem;
    color: var(--bg-color);
    box-shadow: none;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;

}
.button:hover {
    box-shadow: 0 0 1.6rem var(--main-color);
} 
#menu-toggle{
    display: none;
}
#menu-toggle:checked ~ .navbar {
  right: 0;}
/* about section */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}

.about-img img {
    width: 25vw;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 40px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease;
}
.about-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 35px var(--main-color),
                0 0 45px var(--main-color);
}
.heading {
    font-size: 6rem;
    text-align: center;
}
.about-content{
    padding: 0 4rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
    
}
.about-content h3 {
    font-size: 3rem;

}
.about-content p{
    margin: 2rem 0 2rem;
    font-size: 1.7rem;
    
} 
/* education section */
.education {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}
.education-content {
    text-align: center;
    line-height: 1.3;
    padding: 4rem 0;
}
.education-content h3 {
    font-size: 2.7rem;
    line-height: 1.3;
    margin: 10px;
    text-align: center;
}
.education-content h5 {
    font-size: 2rem;
}
.education-content p{
    margin: 2rem 0 2rem;
    font-size: 1.9rem;
} */
/* progress section */
.progress h2{
    margin: 5rem;
}
.progress-content{
    justify-content: center;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.progress-content .progress-card{
    flex: 1 1 30rem;
    background-color: var(--snd-bg-color);
    padding: 6rem 2rem 6rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.3rem solid var(--bg-color);
    transition: 0.5s ease;
}
.progress-content .progress-card:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
    box-shadow: 0 0 20px var(--main-color);
}
.progress h2{
    text-align: center;
    padding: 30px 40px;
}
.progress-card h3 {
    font-size: 2.5rem;
}
.progress-card p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
.progress-card a {
    text-decoration: none;
}
/* .progress-card .button1{
    display: inline-block;
    padding: 1rem 2.5rem;
    background-color: var(--main-color);
    border-radius: 4rem;
    color: var(--bg-color);
    box-shadow: none;
    font-size: -1.6rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-out;
}  */
.btn
{
    display: inline-block;
    padding: 1.2rem 3rem;
    background: var(--main-color);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: none;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-out
}

.btn:hover{
    font-size: 1.5rem;
    box-shadow: 0 0 25px var(--main-color);
} 
.contact{
    background-color: var(--bg-color);
}
.contact h2 {
    margin: 3rem;
}
.contact h5{
    font-size: 2.2rem;
    text-align: center;
    justify-content: center;
    margin: 0 0 4rem 0;
    gap: 2rem;
}
.contact form{
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,   
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 0.8rem;
    border: 0.25rem solid var(--main-color);
    margin: 0.7rem 0;
    resize: none;
}
.contact form .input-box input{
    width: 49%;
    margin: 0.7rem 0.35rem ;
}
.contact .heading{
    text-align: center;
}
.contact form .button{
    margin-top: 0.7rem;
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--snd-bg-color);

}
.footer .social{
    align-items: center;
    padding-bottom: 25px;
    color: var(--main-color);
    justify-content: center;
    display: flex;
}
.footer .social a{
    font-size: 2.2rem;
    width: 42px;
    height: 42px;
    line-height: 42px;
    color: var(--main-color);
    transition: 0.3s ease;
    border: 2px solid var(--main-color);
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
}
.footer .social a:hover{
    transform: scale(1.2);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
}
.footer .copy-right{
    justify-content: center;
    text-align: center;
    font-size: medium;
    margin-top: 20px;
} 
/* responsiveness */
@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width: 1200px){
  .menu-icon{
    display: block;
  }
}

@media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }
    .section{
        padding: 10rem 2%;
    }
    .education{
        padding: 7rem;
    }
    .progress .progress-card{
        grid-template-columns: repeat(1,1fr);

    }
    .contact form .input-box input{
        width: 100%;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media (max-width: 991px){
    .menu-icon{
        display: block;
        font-size: 3rem;
        cursor: pointer;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        /* right: 0; */
        width: 255px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: var(--main-color);
        transition: all 0.5s ease;
        backdrop-filter: blur(10px);

    }
        .navbar a{
        display: block;
        padding: 17px;
        /* margin: 17px 50px; */
        font-size: 22px;
    }
    .navbar.active
    {
        right: 0;
    }
    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-content{
        order: 2;
        margin-left: 1rem;
    }
    .home-img img{
        width: 60vw;
        height: inherit;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about-img img{
        width: 60vw;
        margin-top: 3rem;
    }
    .education h2{
        margin-bottom: 3rem;
    } 
    

}  
@media (max-width: 617px){
    .home-img img{
        width: 70vw;
        margin-top: 8rem;
    }
    .about-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    
}
@media (max-width: 617px){
    .html{
        font-size: 50%;
    }
}



